
<div class="caixa">
  <div class="cabecalho">
    <h5>CAMPEONATO DE FILMES</h5>
    <h1>Resultado Final</h1>
    <h4>__</h4>
    <h5>Vejo o resultado do campeonato de filmes de forma simple e rapida.</h5>
  </div>
  <div class="centro">
    <button type="button" [routerLink]="['/inicio']">Começar Novamente</button>
  </div>
  <div class="resultado">
    <div class="resultado-linha">
      <div class="resultado-posicao">
        1
      </div>
      <div class="resultado-nome">
        <span>O campeão foi {{resultado.campeao.titulo}}</span>
      </div>
    </div>
    <div class="resultado-linha">
      <div class="resultado-posicao">
        2
      </div>
      <div class="resultado-nome">
        <span>O vice campeão foi {{resultado.vice.titulo}}</span>
      </div>
    </div>
  </div>
</div>
